/* Global Settings */
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina+2|Lato|Montserrat|Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url(./imgs/default.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: antiquewhite;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/*Searchbar Settings */
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.searchbar h1 {
  margin: 0;
}

.searchbar form {
  display: flex;
}

.searchbar input {
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  color: antiquewhite;
  border: none;
  border-bottom: 1px solid antiquewhite;
}

.searchbar select {
  font-size: 1rem;
  margin-left: 0.5rem;
  background-color: transparent;
  color: antiquewhite;
  border: none;
  appearance: none;
  cursor: pointer;
}

.searchbar button {
  width: 2rem;
  height: 2rem;
  background-image: url(./icons/magnifier.png);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Main Banner Settings*/
.main {
  display: grid;
  max-width: 60%;
  margin: 1.5rem auto 0 auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr;
  grid-template-areas:
    'header header header'
    'icon temp tempMax'
    'icon temp tempMin'
    'description description description'
    'feelsLike feelsLike feelsLike';
  background-color: rgba(0, 0, 0, 0.8);
}

#header {
  grid-area: header;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}

#icon {
  grid-area: icon;
  justify-self: right;
  align-self: center;
}

#temp {
  grid-area: temp;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

#tempMax {
  grid-area: tempMax;
  align-self: end;
}

#tempMin {
  grid-area: tempMin;
  align-self: start;
}

#description {
  grid-area: description;
  justify-self: center;
  align-self: start;
  text-transform: uppercase;
  font-size: 1.3rem;
}

#feelsLike {
  grid-area: feelsLike;
  justify-self: center;
  align-self: start;
}

/*Footer Settings */
.footer {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-content: center;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.footerIcon {
  object-fit: contain;
  height: 100%;
}

.footerSection {
  min-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sunsetSpans {
  display: flex;
  flex-direction: column;
}

/*Media Queries */
@media (max-width: 1025px) {
  body {
    min-height: 100vh;
    height: 100%;
  }

  .searchbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .searchbar > * {
    padding: 0.5rem;
  }

  .main {
    max-width: 90%;
    grid-template-rows: 1fr 1fr 1fr 0.7fr 0.5fr;
  }

  .main p {
    margin: 0;
  }

  .footer {
    display: flex;
    width: 90%;
  }

  .footerSection {
    min-width: 6rem;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 18px;
  }

  body {
    min-height: 100vh;
    height: 100%;
  }

  .main {
    max-width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }

  #temp {
    font-size: 2rem;
  }

  .footer {
    display: flex;
    max-width: 90%;
  }

  .footerSection {
    min-width: 6rem;
  }
}
